USE [OasisSports]
GO
/****** Object:  Table [dbo].[BitacoraEventos]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEventos](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NULL,
	[Modulo] [varchar](50) NULL,
	[Descripcion] [varchar](200) NULL,
	[Fecha] [datetime] NULL,
	[Criticidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVVertical]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVVertical](
	[Tabla] [varchar](50) NOT NULL,
	[ValorDVV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCambios]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCambios](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[EntidadId] [int] NULL,
	[NombreEntidad] [varchar](50) NULL,
	[NombreCampo] [varchar](100) NULL,
	[ValorAnterior] [varchar](200) NULL,
	[ValorNuevo] [varchar](200) NULL,
	[Usuario] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](100) NULL,
	[EsGrupo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoRelacion]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoRelacion](
	[PadreId] [int] NOT NULL,
	[HijoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PadreId] ASC,
	[HijoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NULL,
	[Clave] [varchar](100) NULL,
	[Texto] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[UsuarioId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 3/7/2026 13:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nomUsuario] [nvarchar](50) NULL,
	[contraseña] [varchar](100) NULL,
	[Bloqueado] [bit] NOT NULL,
	[Eliminado] [bit] NOT NULL,
	[DVH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraEventos] ON 

INSERT [dbo].[BitacoraEventos] ([IdEvento], [Usuario], [Modulo], [Descripcion], [Fecha], [Criticidad]) VALUES (1, N'Lucas', N'Login', N'Inicio de sesión', CAST(N'2026-06-02T19:14:25.007' AS DateTime), 1)
INSERT [dbo].[BitacoraEventos] ([IdEvento], [Usuario], [Modulo], [Descripcion], [Fecha], [Criticidad]) VALUES (2, N'Lucas', N'Login', N'Inicio de sesión', CAST(N'2026-06-02T19:22:59.340' AS DateTime), 1)
INSERT [dbo].[BitacoraEventos] ([IdEvento], [Usuario], [Modulo], [Descripcion], [Fecha], [Criticidad]) VALUES (3, N'Lucas', N'Login', N'Inicio de sesión', CAST(N'2026-06-02T19:26:26.653' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[BitacoraEventos] OFF
GO
INSERT [dbo].[DVVertical] ([Tabla], [ValorDVV]) VALUES (N'Usuarios', 5)
GO
SET IDENTITY_INSERT [dbo].[HistorialCambios] ON 

INSERT [dbo].[HistorialCambios] ([IdHistorial], [EntidadId], [NombreEntidad], [NombreCampo], [ValorAnterior], [ValorNuevo], [Usuario], [Fecha]) VALUES (1, 7, N'Usuario', N'Username', N'Prueba3', N'Prueba2', N'Lucas', CAST(N'2026-07-03T13:04:55.063' AS DateTime))
INSERT [dbo].[HistorialCambios] ([IdHistorial], [EntidadId], [NombreEntidad], [NombreCampo], [ValorAnterior], [ValorNuevo], [Usuario], [Fecha]) VALUES (2, 7, N'Usuario', N'Password', N'***', N'***', N'Lucas', CAST(N'2026-07-03T13:04:55.110' AS DateTime))
INSERT [dbo].[HistorialCambios] ([IdHistorial], [EntidadId], [NombreEntidad], [NombreCampo], [ValorAnterior], [ValorNuevo], [Usuario], [Fecha]) VALUES (3, 7, N'Usuario', N'Username', N'(restauración)', N'Prueba3', N'Lucas', CAST(N'2026-07-03T13:05:16.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistorialCambios] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Nombre]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre]) VALUES (2, N'Inglés')
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre]) VALUES (3, N'Test')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Id], [Nombre], [Codigo], [EsGrupo]) VALUES (2, N'GestionUsuarios', N'GUS', 0)
INSERT [dbo].[Permiso] ([Id], [Nombre], [Codigo], [EsGrupo]) VALUES (3, N'Bitacora de eventos', N'BTE', 0)
INSERT [dbo].[Permiso] ([Id], [Nombre], [Codigo], [EsGrupo]) VALUES (4, N'Gestion de Perfiles', N'GPE', 0)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[PermisoRelacion] ([PadreId], [HijoId]) VALUES (6, 2)
INSERT [dbo].[PermisoRelacion] ([PadreId], [HijoId]) VALUES (6, 3)
INSERT [dbo].[PermisoRelacion] ([PadreId], [HijoId]) VALUES (6, 4)
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [Clave], [Texto]) VALUES (1, 1, N'btnVolver', N'VOLVER')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [Clave], [Texto]) VALUES (2, 1, N'lblAlquilerCanchas', N'Alquiler de canchas de fútbol')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [Clave], [Texto]) VALUES (3, 1, N'lblContraseña', N'CONTRASEÑA : ')
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PermisoId]) VALUES (10, 5)
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PermisoId]) VALUES (10, 6)
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PermisoId]) VALUES (11, 6)
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nomUsuario], [contraseña], [Bloqueado], [Eliminado], [DVH]) VALUES (2, N'Juanchy', N'5678', 0, 0, 4)
INSERT [dbo].[usuarios] ([id_usuario], [nomUsuario], [contraseña], [Bloqueado], [Eliminado], [DVH]) VALUES (6, N'Prueba12', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', 1, 0, 0)
INSERT [dbo].[usuarios] ([id_usuario], [nomUsuario], [contraseña], [Bloqueado], [Eliminado], [DVH]) VALUES (7, N'Prueba3', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', 0, 0, 6)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[DVVertical] ADD  DEFAULT ((0)) FOR [ValorDVV]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[PermisoRelacion]  WITH CHECK ADD FOREIGN KEY([HijoId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[PermisoRelacion]  WITH CHECK ADD FOREIGN KEY([PadreId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
